.jcarousel-wrapper {
    margin-bottom: 50px;
    width: 960px;
}

.selectric {
    width: 200px;
}

form {
    margin: 50px auto;
    padding: 10px;
    width: 200px;
    background: rgb(153, 204, 255);
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 20px;
}

p {
    margin: 10px;
    color: #fff;
}

.niceCheck,
.niceCheck2 {
    margin-top: -2px;
    width: 17px;
    height: 17px;
    display: inline-block;
    cursor: pointer;
    background: url(../img/checkbox.png);
    vertical-align: middle;
    overflow: hidden;
}

.niceCheckDisabled {
    background: url(../img/checkbox-disabled.png);
}

.niceChecked {
    background-position: 0 -17px;
}

.cbx {
    margin-left: -65px;
}

.cbx2 {
    display: none;
}

.cbx2:checked + .niceCheck2 {
    background-position: 0 -17px;
}

.cbx2:disabled + .niceCheck2 {
    background: url(../img/checkbox-disabled.png);
}

.cbx2:checked:disabled + .niceCheck2 {
    background: url(../img/checkbox-disabled.png) 0 17px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu {
    margin-bottom: 250px;
    background: rgba(255, 100, 100, .8);
}

.main-menu__item {
    display: inline-block;
    margin: 0 5px;
}

.main-menu__link,
.submenu__link{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.main-menu__link-with-submenu,
.submenu__link-with-submenu {
    position: relative;
}

.main-menu__link-with-submenu:after {
    content: '\25BE';
    display: inline-block;
    position: absolute;
}

.submenu__link-with-submenu:after {
    content: '\25B8';
    display: inline-block;
    position: absolute;
}

.submenu {
    display: none;
    position: absolute;
    width: 200px;
    background: rgba(200, 30, 40, .9);
}

.submenu__item {
    position: relative;
    text-align: center;
}

.submenu__link {
    margin: 10px;
    padding: 1px;
    border-bottom: 1px solid;
}

.submenu__item .submenu {
    top: 0;
    right: -200px;
}
